@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-top:15px;">
    <div class="col-md-2">

    </div>
    <!-- Default middle column for the home page. This will eventually contain information about the project and detail some of the APIs/services used. -->
    <div class="col-md-8">
        <div class="jumbotron" style="padding-top:30px; padding-bottom:30px; margin-top:20px;">
            <div class="row justify-content-center">
                <h1>RestAPIsApplication: Home Page</h1>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>