<div class="container body-content text-center">
    <footer>
        <p>&copy; @DateTime.Now.Year.ToString() - CNLjunggren2137. All data, APIs, and logos belong to their respective owners.</p>
    </footer>
</div>